*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Seymour One', sans-serif;
}
a{
  text-decoration: none;
}
.not-visible-h1{
  position: absolute;
  visibility: hidden;
}
