@define-mixin atSmall {
  @media (min-width: 520px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 820px){
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::{
    content: "";
    display: table;
    clear: both;
  }
}
