.nav{
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 2rem;

  &__link{
    opacity: 0.6;
    color: $dark-green;
    font-size: 2rem;
    text-decoration: none;
    text-shadow: 0.5px 0.5px black;
  }
  &__menu-container{
    float: right;
    margin: 0;
    list-style: none;
  }
  &__menu-item{
    display: inline-block;
    padding: 0 1rem;
  }
}
