.nav{
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 2rem;
  padding-bottom: 2.1rem;
  background-color: transparent;
  transition: all 0.6s ease-in;
  border-bottom: 3px transparent solid;
  text-shadow: 1px 1px transparent;
  @mixin atSmall{
    padding: 1rem;
  }
  &--more-visible{
      background-color: rgba($main-blue, 0.9);
      padding-bottom: 2rem;
      @mixin atSmall{
        padding-bottom: 1rem;
      }
  }
  &--bg-helper{
     background-color: rgba($main-blue, 0.9);
  }
  &__link{
    color: $light-green;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.6s ease-in;
    &--more-visible{
      color: $dark-green;
      font-size: 1.7rem;
    }
    &--current{
      color: $light-orange;
    }
    &--ls{
      display: block;
      float: left;
      @mixin atSmall{
        padding: 1rem;
      }
    }
  }
  &__menu-container{
    position: absolute;
    opacity: 0;
    z-index: -5;
    margin: 0 auto;
    top: 6.2rem;
    transform: translateX(-50%) scale(0);
    left: 50%;
    transition: all 0.6s ease-in-out;
    text-align: center;
    @mixin atSmall{
      padding: 1rem 0;
    }
    &--expanded{
      padding: 2rem 0;
      opacity: 1;
      text-align: center;
      transform: translateX(-50%) scale(1);
      z-index: 15;
      color: $dark-green;
      background-color: rgba($main-blue, 0.9);
    }
    @mixin atMedium{
      position: static;
      text-align: right;
      float: right;
      margin: 0;
      list-style: none;
      z-index: 15;
      transform: scale(1);
      opacity: 1;
    }
  }
  &__menu-item{
    display: inline-block;
    padding: 1rem 1rem;
    @mixin atSmall{
      padding: 0 1rem;
    }
  }
}
.nav-icon{
  width: 20px;
  height: 19px;
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;

  @mixin atSmall{
    top: 20px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: $light-green;
    transition: all 0.5s ease-in-out;
  }
  &--middle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: $light-green;
    transition: all 0.5s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: $light-green;
    transition: all 0.5s ease-in-out;
  }
  &--more-visible{
    &::before{
      background-color: $dark-green;
    }
    div{
      background-color: $dark-green;
    }
    &::after{
      background-color: $dark-green;
    }
  }

  @mixin atMedium{
    display: none;
  }
  &__closer{
    position: absolute;
    z-index: 5;
    right: 20px;
    top: 20px;
    color: $light-green;
    font-weight: 900;
    font-size: 2.8rem;
    margin-top: -7px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: scale(0.3);
    &--more-visible{
      color: $dark-green;
    }
    @mixin atSmall{
      margin-top: 0;
    }
    &--visible{
      opacity: 1;
      transform: scale(1);
    }
    @mixin atMedium{
      display: none;
    }
  }
}
.nav-icon-hidden {
    &::before{
      transform: scale(0);
      opacity: 0;
    }

    .nav-icon--middle {
      transform: scale(0);
      opacity: 0;

    }

    &::after{
      transform: scale(0);
      opacity: 0;
    }
  }
