.title{
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  &--pull-right-at-sm{
    text-align: right;
    @mixin atSmall{
      text-align: center;
    }
  }
  &--font-sey{
    font-family: 'Seymour One', sans-serif;
    text-shadow: 1.2px 1.2px black;
  }
  &--exp{
    font-size: 1.6rem;
    margin-bottom:5rem;
    text-align: center;
    line-height: 3rem;
    padding: 0 2rem;
    @mixin atMedium{
      padding: 0 5rem;
      font-size: 3rem;
    }
  }
  &--descr{
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #222;
    padding-right: 2.5rem;
    text-align: center;
    @mixin atMedium{
      font-size: 1.8rem;
      letter-spacing: 3px;
      margin: 5rem 0;
    }
  }
  &--bot-margin{
    margin-bottom: 2.5rem;
  }
  &--black{
    color: black;
  }
  &--purple{
    color: $dark-purple;
  }
  &--orange{
    color: $v-light-orange;
  }
  &--darken-orange{
    color: $light-orange;
  }
  &--green{
    color: $light-green;
  }
  &--dark-green{
    color: $dark-green;
  }
  &--width100{
    width: 95%;
    @mixin atSmall{
      width: 100%;
    }
  }
  &--shadow{
    text-shadow: 1.2px 1.2px black;
  }
  &--letter-space{
    letter-spacing: 2px;
  }
  &--section{
    font-family: 'Seymour One', sans-serif;
    font-size: 2.3rem;
    padding: 3rem 0;
    @mixin atSmall{
      font-size: 4rem;
    }
    @mixin atSmall{
      padding: 3rem;
    }
  }
  &--footer{
    font-size: 2rem;
    @mixin atSmall{
      font-size: 3rem;
    }
  }
  &--footer-sm{
    font-size: 1.5rem;
    @mixin atSmall{
      font-size: 2.3rem;
    }
    margin-top: 2rem;
  }
  &--item{
    font-size: 2.2rem;
    padding: 3rem;
    @mixin atSmall{
      font-size: 4rem;
    }
  }
  &--github-link{
    font-size: 2rem;
    padding: 3rem 1rem 1rem 1rem;
    text-shadow: 1.2px 1.2px black;
    @mixin atSmall{
      font-size: 3rem;
      padding: 3rem;
    }
  }
  &--skill-name{
    line-height: 5rem;
    font-size: 1.6rem;
    @mixin atSmall{
      font-size: 2.3rem;
    }
  }
  &--link-rework{
    display: block;
    text-decoration: none;
  }
}
