.title{
  margin: 0;
  text-align: center;
  &--pull-right-at-sm{
    text-align: right;
    @mixin atSmall{
      text-align: center;
    }
  }
  &--resize-at-sm{

  }
  &--bot-margin{
    margin-bottom: 2.5rem;
  }
  &--purple{
    color: $dark-purple;
  }
  &--orange{
    color: $v-light-orange;
  }
  &--darken-orange{
    color: $light-orange;
  }
  &--green{
    color: $light-green;
  }
  &--section{
    font-size: 2.3rem;
    padding: 3rem 0;
    @mixin atSmall{
      font-size: 4rem;
    }
    @mixin atSmall{
      padding: 3rem;
    }
  }
  &--item{
    font-size: 2.2rem;
    padding: 3rem;
    text-shadow: 1.5px 1.5px black;
    @mixin atSmall{
      font-size: 3rem;
    }
  }
  &--github-link{
    font-size: 1.5rem;
    padding: 3rem 1rem 1rem 1rem; 
    text-shadow: 1.5px 1.5px black;
    @mixin atSmall{
      font-size: 3rem;
      padding: 3rem;
    }
  }
  &--skill-name{
    font-size: 1.3rem;
    @mixin atSmall{
      font-size: 2rem;
    }
    line-height: 5rem;
  }
  &--link-rework{
    display: block;
    text-decoration: none;
  }
}
