.wrapper-relative{
  position: relative;
}
.wrapper{
  &--80{
    width: 95%;
    margin: 0 auto;
    @mixin atSmall{
      width: 80%;
    }
  }
  &--700px{
    width: 95%;
    margin: 0 auto;
    @mixin atMedium{
      width: 800px;
    }
  }
  &--absolute{
    position: absolute;
    top: 0;
    left: 0;
  }
  &--const-height-on-small{
    min-height: 100px;
  }
  &--top-bot-margin{
    margin: 2rem auto;
    @mixin atSmall{
      margin: 4rem auto;
    }
  }
}
.page-wrapper{
  position: relative;
  z-index: 1;
}
